<html layout:decorate="~{layout}">	<!-- layout.html 상속-->
<div layout:fragment="content" class="container my-3">
	<table class = "table">
	    <thead class="table-dark">
	        <tr>
				<th>번호</th>
	            <th>사원명</th>
	            <th>담당부서</th>
	            <th>사원번호</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="member, loop : ${paging}">
				<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
				<td>
					<a th:href="@{|/HR3/detail/${member.EmployeeID}|}" th:text="${member.Name}"></a>
				</td>
				<td th:text="${member.DeptName}"></td>
	            <td th:text="${member.Position}"></td>
	        </tr>
	    </tbody>
	</table>
	<!-- 페이징처리 시작 -->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
				<a class="page-link" href="@{|?page=${paging.number-1|}">
					<span>이전</span>
				</a>
			</li>
			<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <= paging.number+5}" th:classappend="${page == paging.number} ? 'active'" class = "page-item">
				<a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
			</li>
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
					<span>다음</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- 페이징처리 끝 -->
	<a th:href="@{/HR3/create}" class="btn btn-primary">사원등록</a>
</div>
</html>