<!DOCTYPE html>
<html>
<head>
    <title>직원 상세 정보</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
			<div class="container-fluid">
				<a class="navbar-brand" href="/HR3/list">ERP</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="#">로그인</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Bootstrap JS -->
		<script th:src="@{/bootstrap.min.js}"></script>
    <div class="split-screen">
        <div class="up-side">
			 <!-- 직원 사진 -->
            <img class="employee-image" th:src="@{/image/이도현.jpg}" alt="직원 사진">
            <!-- 사원 정보 -->
            <div class="employee-info">
                <!-- 사원 이름 -->
                <h1 th:text="${member.Name}">직원 이름</h1>
                <!-- 부서와 직급 -->
                <h2 th:text="${member.DeptName} + ' / ' + ${member.Position}">부서 / 직급</h2>
            </div>
            <!-- 한마디 -->
            <p class="employee-quote">"퇴근하고 싶습니다!"</p>
        </div>
        <div class="down-side">
	       <!-- 직원 상세정보 -->
            <div class="additional-details">
                <p th:text="'사원번호 : ' + ${member.EmployeeID}">사원번호</p>
                <p th:text="'입사일 : ' + ${member.StartDate}">입사일</p>
                <p th:text="'Email : ' + ${member.Email}">Email</p>
                <p th:text="'계좌번호 : ' + ${member.BankNum}">계좌번호</p>
            </div>
        </div>
		</div>
</body>
</html>
